*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

.box-profile {
    padding: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 7rem;
}

.title-profile {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #161616;
    margin-bottom: .7rem;
    letter-spacing: .2px;
}

.list-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 15px 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card-detail {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: #fff;
}

.card-detail p {
    font-size: 16px;
    font-weight: 600;
    color: #161616;
    font-family: "Poppins", sans-serif;
    letter-spacing: .2px;
    margin-bottom: 5px;
}

.card-btn-detail {
    display: flex;
    justify-content: flex-end;
    gap: 11px;
    margin-top: 1rem;
}

.card-btn-detail button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14.5px;
    font-family: "Poppins", sans-serif;
    letter-spacing: .2px;
}

#btn-logout {
    background-color: #ff8104;
}

.card-btn-detail button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}