.box-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 7rem;
    padding: 15px;
}

.box-hero {
    background-image: url(../image/beautiful-girl-autumn-forest-reading-book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    opacity: 90%;
    outline: 1px solid black;
    padding: 25px;
}

.hero h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.52em;
}

.hero p {
    font-size: 14.5px;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    line-height: 1.52em;
    margin-top: 5px;
    text-align: center;
}

.hero button {
    padding: 10px;
    font-size: 14.5px;
    color: #fff;
    background-color: #28a745;
    width: fit-content;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.hero button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.box-middle {
    margin-top: 2rem;
}

.box-middle p {
    font-size: 14.5px;
    color: #666;
    line-height: 1.52em;
    margin-top: 5px;
    letter-spacing: .2px;
}

.list-opt-category {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 1.5rem;
    overflow-x: scroll;
}

.list-opt-category::-webkit-scrollbar {
    display: none;
}

.list-opt-category button {
    background: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.list-opt-category button.active {
    position: relative; /* Menambahkan posisi relatif agar pseudo-element bisa diatur posisinya */
    color: rgb(255, 102, 0);
}

.list-opt-category button.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    border-bottom: 2px solid rgb(255, 102, 0);
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
}

.list-opt-category button:hover {
    color: rgb(255, 102, 0);
}

.list-card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.09);
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.content-banner img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.title-desc-content {
    margin-top: 11px;
}

.title-desc-content h4 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1px;
    line-height: 1.52em;
}

.title-desc-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    font-size: 14.5px;
    letter-spacing: .1px;
}

.author-content {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author-picture img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.author-name {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}

.author-name p {
    margin: 0;
    font-weight: bold;
    color: #161616;
    font-family: 'Poppins', sans-serif;
    font-weight: 15px;
}

.author-name p:nth-child(2) {
    color: #666;
    font-weight: normal;
    font-size: 13px;
}

.author-name p span {
    font-weight: 600;
}

.rate-price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.rate-content {
    display: flex;
    align-items: center;
}

.rate-content span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    margin-right: 5px;
}

.rate-content p {
    font-size: 15px;
    letter-spacing: .2px;
}

.price-content span {
    font-size: 18px;
    color: #39b51d;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.box-bottom {
    margin-top: 2rem;
}

.call-to-action {
    background-image: url(../image/new-letter-edu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-form {
    background-color: #161616;
    opacity: 90%;
    padding: 50px 15px;
}

.card-form form {
    display: flex;
    flex-direction: column;
}

.title-c-t-a {
    font-size: 13px;
    color: #fff;
    letter-spacing: .2px;
    text-align: center;
}

.tagline-c-t-a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.52em;
    margin-top: 5px;
}

.subtag-c-t-a {
    font-size: 14.5px;
    color: #ccc;
    text-align: center;
    line-height: 1.52em;
    margin-top: 5px;
}

.card-inp {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.09);
}

.card-inp input {
    padding: 12px 10px;
    border: none;
    outline: none;
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    width: 100%;
    outline: 1px solid black;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card-inp button {
    position: absolute;
    top: 38%;
    right: 5px;
    transform: translateY(-50%);
    padding: 7px 12px;
    background: gold;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.09);
    overflow: hidden;
    margin-top: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.card-inp button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

footer {
    margin-top: 4rem;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    padding: 2rem 0;
    padding-bottom: 1rem;
}

.box-footer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.top-footer {
    display: flex;
    justify-content: space-between;
}

.logo-footer img {
    max-width: 150px;
    width: 100%;
    object-fit: contain;
}

.card-left-footer {
    margin-right: 2rem;
    padding: 0 1rem;
}

.card-left-footer h4 {
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.52em;
    font-weight: 600;
    margin-top: 5px;
}

.address-footer {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1px;
    line-height: 1.52em;
    color: #161616;
    font-size: 14.5px;
}

.card-right-footer {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

.option-footer {
    display: flex;
    flex-direction: column;
}

.option-footer span, a {
    font-size: 14.5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.option-footer a {
    text-decoration: none;
    color: #666;
    font-weight: normal;
    padding: 5px 0;
    white-space: nowrap;
}

.option-footer a:hover {
    text-decoration: underline;
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    padding: 1rem;
    padding-bottom: 0;
}

.copyright {
    font-size: 14.5px;
    letter-spacing: .1px;
    color: #666;
    font-family: 'Poppins', sans-serif;
}

.bottom-footer ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom-footer ul li {
    list-style: none;
}

.list-option-mobile-footer {
    display: none;
    flex-direction: column;
    margin-top: 2rem;
}

.btn-show-opt-footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14.5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: none;
    padding: 10px 1rem;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}

.btn-show-opt-footer button span {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

.btn-show-opt-footer button span.active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

.box-opt-mobile-footer.active {
    max-height: 300px;
}

.btn-show-opt-footer button.active {
    border-bottom: none;
}

.box-opt-mobile-footer {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -ms-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
}

.box-opt-mobile-footer a {
    display: flex;
    padding: 8px 1rem;
    text-decoration: none;
    color: #666;
    font-weight: normal;
    font-size: 14.5px;
}

.box-opt-mobile-footer a:hover {
    color: #161616;
}

@media (max-width: 768px) {
    .option-footer a {
        white-space: wrap;
    }
}

@media(max-width: 700px) {
    .list-card-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-footer {
        flex-direction: column;
    }

    .option-footer {
        display: none;
    }

    .card-left-footer {
        margin-right: 0;
    }

    .list-option-mobile-footer {
        display: flex;
    }

    .bottom-footer {
        flex-direction: column-reverse;
        align-items: start;
        border-top: 0;
    }

    .copyright {
        margin-top: 5px;
    }
}

@media(max-width: 600px) {

    .card-inp button {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 2rem;
        padding: 12px 10px;
    }
}

@media (max-width: 465px) {

    .list-card-content {
        display: flex;
        flex-direction: column;
    }

    .out-top-content {
        display: flex;
    }

    .box-top-content {
        display: flex;
        flex-direction: column;
        margin-left: 11px;
    }

    /* .title-desc-content h4 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    } */

    .title-desc-content {
        margin-top: 0;
    }

    .title-desc-content p {
        display: none;
    }

    .author-content {
        margin-top: 11px;
        align-items: start;
    }

    .content-banner img {
        width: 100px;
        height: 100px;
    }

    .author-name p span {
        display: none;
    }
}

@media (max-width: 350px) {
    /* .author-name p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    } */
}

@media (max-width: 340px) {
    .content-banner img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 300px) {

    .out-top-content {
        flex-direction: column;
    }

    .content-banner img {
        max-width: 300px;
        width: 100%;
        height: 120px;
    }

    .box-top-content {
        margin-left: 0;
        margin-top: 5px;
    }
}