*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-lato: 'Lato', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
    background-color: #fafaff;
    font-family: var(--font-lato);
    min-height: 100vh;
}